/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
}

h1 {
	color: RGBa(211,82,32,1); /* orange */
    background-color: RGBa(5,72,47,1); /* vert */
	text-align: center;
	text-decoration: none; 
	
}

.index{
	text-decoration: none; 
	background-color: none;
}

nav b {
	text-decoration: none;
	box-shadow: none;
    background-color: RGBa(5,72,47,1); /* vert */
	list-style-type: none;
	text-align: center;
	
}

.b
{
   text-decoration: none; 
   background-color: none;
}

beta{
	height: 64 px;
}


.beta img
{
	float: left;
}

.beta h1
{
	font-size: 400%;
	color: RGBa(211,82,32,1); /* orange */
    background-color: RGBa(5,72,47,1); /* vert */
	text-align: center;
	text-decoration: none; 
}

.error{
	background-color: #ff8080;
	border : red;
	border-style: solid;
	border-width: medium;
	margin-: 10px 0px;
}

footer
{
	
	position:fixed;
	bottom: 0;
	width: 100%;
   	/*color: black;*/
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: RGBa(5,72,47,1); /* vert */
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
	border-bottom :RGBa(211,82,32,1) ; /* orange */
    color: RGBa(211,82,32,1) ; /* orange */
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: RGBa(5,72,47,1); /* vert */
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content: " \25BC";/* ▼*/
    font-size: 12px;
}

.conteneur{
  margin: 50px 20px;
  height: 1000px;
}

imaged{
	height : 20%;
	width : auto;
}

.fondfooter{
	background-color: RGBa(5,72,47,1);
}
.contentfooter{
	color: RGBa(211,82,32,1);
	text-align: center;
}

.header img {
  float: left;
}

.header h1 {
  position: relative;
}


.overcontainer {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.conteneur index{
	text-align: center;
	text-decoration: none;
}
